@import '~nav-frontend-core/less/_variabler';

.optionItem {
  padding: 1rem;
  cursor: pointer;

  &:hover {
    border: 1px solid @navBla;
    color: @navBla;
  }

  &:not(:last-child) {
    border-bottom: 1px solid @navMorkGra;
  }
}

.optionItemFocused {
  border: 3px solid @fokusFarge !important;
  background-color: @navBlaLighten80 !important;
}

.fontSize14 {
  font-size: 0.875rem;
}