.modalContent {
  max-width: 600px;
}

.deltakerlisteNavn {
  font-weight: bold;
}

.text {
  margin-bottom: 2rem;
}

.knappeRad {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  > *:not(:last-child) {
    margin-right: 1rem;
  }
}
