.landingPage {
  max-width: 600px;
  margin: 8rem auto auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.title {
  text-align: center;
}

.infoBoks {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 8px;
}

.alertstripe {
  padding: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}
