@media (min-width: 600px) {
  .modal {
    min-width: 550px;
  }
}

.bakgrunnsinfo {
  margin-top: 0.5rem;
}

.fattetAv {
  margin-top: 0.75rem;
}

.deltakelseInnholdListe {
  margin-bottom: 0.25rem;
  margin-top: 0.75rem;
}
