version: 2
registries:
  npm-github:
    type: npm-registry
    url: https://npm.pkg.github.com
    token: ${{secrets.READER_TOKEN}}
    replaces-base: false
updates:
  - package-ecosystem: "npm"
    directory: "/"
    registries:
      - npm-github
    schedule:
      interval: weekly
      day: tuesday
      time: '05:00'
      timezone: Europe/Oslo
    cooldown:
      default-days: 12
    open-pull-requests-limit: 10
    groups:
      major:
        update-types:
          - 'major'
      minor-and-patch:
        update-types:
          - 'patch'
          - 'minor'
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
