.panel {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 1;
  margin-bottom: 1rem;
}

.panel:last-child {
  margin-bottom: 0;
}

.grid {
  padding: 1rem;
  align-items: start;
  width: 100%;
}

.itemsStart {
  align-items: start;
}

.status {
  max-height: 28px;
}

.closeButton {
  height: fit-content;
  margin-left: auto;
  justify-content: center;
}

.tooltip {
  background-color: rgba(38,
      38,
      38,
      1); // Default fargen var(--a-surface-inverted) fungerer ikke som forventet
  color: rgba(255, 255, 255, 1);
  padding: 0.33rem 0.66rem;
  font-size: 14px;
  border-radius: 0.2rem;
}

.tittel {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  flex-wrap: wrap;
  margin-bottom: 0.25rem;
}

.tittel_hedaing {
  margin-right: 0.75rem;
}

.marker_som_lest_box {
  padding: 0.5rem;
}

.marker_som_lest_knapp_wrapper {
  display: flex;
  justify-content: right;
}

.forslag_detail_sendt {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.forslag_detail_wrapper {
  margin-top: 0.25rem;
}

.forslag_detail {
  margin-top: 0.25rem;
}

.endring_detail {
  margin-top: 0.25rem;
}