.panel {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 1;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.panel:last-child {
  margin-bottom: 0;
}

.grid {
  padding: 0.5rem;
  align-items: start;
  width: 100%;
}

.itemsStart {
  align-items: start;
}

.status {
  max-height: 28px;
}

.closeButton {
  height: fit-content;
  margin-left: auto;
  justify-content: center;
}

.tooltip {
  background-color: rgba(38,
      38,
      38,
      1); // Default fargen var(--a-surface-inverted) fungerer ikke som forventet
  color: rgba(255, 255, 255, 1);
  padding: 0.33rem 0.66rem;
  font-size: 14px;
  border-radius: 0.2rem;
}
