.aktiveForslagTitle {
  font-size: 1rem;
}

.endringTitle {
  margin-bottom: 0.25rem;
}

.panelWrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.forslag_detail_sendt {
  margin-top: 0.25rem;
}