@import '~nav-frontend-core/less/_variabler';

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  background-color: white;
  padding: 2rem;

  border-bottom: 1px solid @navGra20;
}

.virksomhetSelect {
  padding: 0.25rem;
  width: 100%;
}