.datoPanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 1rem;
  padding-bottom: 1rem;
  width: 100%;

  border-bottom: 1px solid #c9c9c9
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.datofelt {
  max-width: 150px;
}

.iconWrapper {
  margin-top: 0.25rem;
  margin-right: 1rem;
}

.endreDato {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;

  margin-top: 2rem;
  margin-bottom: 1rem;
}

.sendStartDatoKnapp {
  margin-left: 2rem;
}

.sendSluttDatoKnapp {
  width: fit-content;
  margin-top: 1rem;
}


.alert {
  margin-top: 1rem;
}

.ekspanderKnapp {
    align-self: center;
}
