@import '~nav-frontend-core/less/hide-text';

@import '~nav-frontend-core/less/_mixins';
@import '~nav-frontend-core/less/utilities';

.header {
	display: flex;
	flex-direction: row;
	align-items: center;

	background-color: white;
	padding: 2rem 3rem 2rem 3rem;
}

.headerTitle {
	margin-right: 2rem;
}

.tilbakeLenke {
	display: block;
	margin-right: 2rem;
}

.detaljer {
	padding: 2rem;
}

.tiltakCard {
	width: 100%;
	margin-bottom: 2rem;
}

.userInfoContent {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
}
