@import '/src/globals.module.scss';

.header {
	background-color: white;
	padding: 2rem 3rem 2rem 3rem;
}

.headerContent {
	display: flex;
	flex-direction: row;
	align-items: center;

	max-width: $max-bredde;
	margin: 0 auto;
}

.headerTitle {
	margin-right: 2rem;
}

.tilbakeknapp {
	margin-right: 2rem;
}

.statusAlert {
	max-width: 400px;
	margin: 0 auto 2rem auto;
}

.detaljer {
	max-width: $max-bredde;
	margin: 2rem auto 0 auto;
}

.tiltakCard {
	width: 100%;
	margin-bottom: 2rem;

	display: flex;
	flex-direction: row;

	> :not(:first-child) {
		margin-left: 4rem;
	}
}

.userInfoContent {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
}
