@import '/src/globals.module.scss';

.header {
  background-color: white;
  padding: 1rem 1rem;
  margin: auto;
  max-width: $max-bredde;
  border-bottom: 1px solid #c9c9c9
}

.headerContent {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.tilbakelenkeWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.headerInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headerTitleWrapper {
  display: flex;
  flex-direction: column;

  > * {
      margin-bottom: 0.5rem;
  }
}

.headerTitle {
  margin-right: 2rem;
}

.headerInfo {
  display: flex;
  flex-direction: column;

  > * {
      margin-bottom: 0.5rem;
  }
}

@media (min-width: 600px) {
    .headerInfoWrapper {
      flex-direction: row;
      flex-wrap: wrap;

      > *:not(:last-child) {
        margin-right: 2rem;
      }
    }
    .headerTitleWrapper {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      > * {
          margin-bottom: 0;
      }
  }

  .headerInfo {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      > * {
          margin-bottom: 0;
      }


      > *:not(:last-child) {
        margin-right: 2rem;
      }
  }

  .header {
    padding: 1rem 2rem;
  }
}

.adresse {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.toggleAdresseKnapp {
  padding: 0;
  --ac-button-tertiary-hover-bg: transparent;

  &:hover {
    text-decoration: underline;
  }
  &:active {
    text-decoration: underline;
    background-color: transparent !important;
    color: var(--ac-button-tertiary-text, var(--a-text-action));
  }
}