@import '/src/globals.module.scss';

.header {
  background-color: white;
  padding: 1rem 0;

  border-bottom: 1px solid #c9c9c9
}

.headerContent {
  max-width: $max-bredde;
  padding: 0 1rem;
  margin: 0 auto;
}

.tilbakelenkeWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.headerInfoWrapper {
  display: flex;
  flex-direction: column;
}

.headerTitleWrapper {
  display: flex;
  flex-direction: column;

  > * {
      margin-bottom: 0.5rem;
  }
}

.headerTitle {
  margin-right: 2rem;
}

.headerInfo {
  display: flex;
  flex-direction: column;
  
  > * {
      margin-bottom: 0.5rem;
  }
}

@media (min-width: 600px) {
    .headerInfoWrapper {
      flex-direction: row;
      flex-wrap: wrap;

      > *:not(:last-child) {
        margin-right: 2rem;
      }
    }
    .headerTitleWrapper {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      > * {
          margin-bottom: 0;
      }
  }

  .headerInfo {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      > * {
          margin-bottom: 0;
      }


      > *:not(:last-child) {
        margin-right: 2rem;
      }
  }

  .headerContent {
      padding: 0 2rem;
  }
}
