.page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 600px;

}

.eksternLenke {
  vertical-align: bottom;
}

.bold {
  font-weight: bold;
}