.modal {
    overflow: visible;

    @media (min-width: 600px) {
        min-width: 480px;
        max-width: 480px;
    }
}

.bold {
    font-weight: bold;
}

.buttonRow {
    display: flex;
    justify-content: right;
    gap: 1rem;
    padding-top: 1rem;
}

.select {
    max-width: 448px;
}

.detail {
    font-weight: 600;
}

.alert {
    margin-top: 2rem;
}
