.checkbox {
  width: 100%;

  label > span {
    display: flex;
    width: 100%;
  }
}

.occurrences {
  font-weight: bolder;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 1rem
}

.checkboxGroup {
  margin: 0;
}

.expansionCard {
  margin-bottom: 1rem;
}

.expansionContent {
  padding-top: 0;
  padding-bottom: 0.5rem;
}