.checkbox {
  width: 100%;

  label > span {
    display: flex;
    width: 100%;
  }
}

.occurrences {
  font-weight: bolder;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 1rem
}

.checkboxGroup {
  margin: 0;
}

.expansionCard {
  margin-bottom: 1rem;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--a-gray-500);
  box-shadow: 0 0 1px var(--a-gray-50)
}

.expansionContent {
  padding-top: 0;
  padding-bottom: 0.5rem;
  max-height: 500px;
  overflow-y: auto;
  padding-right: 1.5rem;
}
