.list {
  list-style: none;
  padding: 0;
  margin: 0;

  > li:not(:last-child) {
    margin-bottom: 1rem;
  }
}


.header {
  display: flex;
  flex-direction: column;

  @media(min-width: 600px) {
    flex-direction: row;
  }

}

.virksomhetNavn {
  margin-right: 1rem;
}

.orgnr {
  white-space: nowrap;
}
