.content {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
}

.linkpanel {
  display: flex;
  flex-direction: row;
}

.clipboardimage {
  display: flex;
  justify-content: flex-start;
  padding-right: 2rem;
}
