@import '/src/colors.scss';

.wrapper {
  padding: 1.7rem 0;
  border-top: 1px solid $navGra30;
  border-bottom: 1px solid $navGra30;
  display: flex;
  justify-content: space-between;
}

.section > *:not(:last-child) {
  margin-bottom: 1rem;
}