@import '/src/colors.scss';

.wrapper {
  padding-top: 1.7rem;
  border-top: 1px solid $navGra30;
  padding-bottom: 1.7rem;
  border-bottom: 1px solid $navGra30;
  display: flex;
  justify-content: space-between;
}

.margin {
  margin-bottom: 1rem;
}