.knapp {
  width: fit-content;
  height: fit-content;
  align-items: center;
  span:not(:first-child){
    margin-left: 0.3rem;
  }
}

.knappTekst {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

.dropdown {
  dd {
    width: fit-content;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem
  }
}

.dropdownMenu {
  width: fit-content;
}
