.knapp {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
}

.dropdown {
  li {
    padding-bottom: 0.4rem;
    padding-top: 0.4rem
  }
}

.dropdownMenu {
  width: fit-content;
}
