.ikon {
  height: 22px;
  width: 22px;
}

.endreIkon {
  color: var(--a-deepblue-300);
  @extend .ikon;
}

.forlengIkon {
  color: var(--a-icon-success);
  @extend .ikon;
}

.ikkeAktuellIkon {
  color: var(--a-icon-warning);
  transform: rotate(45deg);
  @extend .ikon;
}

.endreProsentDeltakelseIkon {
  color: var(--a-purple-400);
  @extend .ikon;
}

.avsluttIkon {
  color: var(--a-gray-500);
  @extend .ikon;
}


.erAktuellIkon {
  color: var(--a-icon-alt-2);
  @extend .ikon;
}

.settPaaVentelisteIkon {
  color: var(--a-icon-info);
  @extend .ikon;
}