@import '/src/colors.scss';

.statusTagBla {
  background-color: var(--a-surface-info-subtle);
  border-color: var(--a-border-info);
}

.statusTagOrange {
  background-color: var(--a-surface-warning-subtle);
  border-color: var(--a-border-warning);
}

.statusTagHvit {
  background-color: white;
  border-color: $navGra80;
}