@import '/src/colors.scss';

.statusTagBla {
  background-color: var(--a-surface-info-subtle);
  border-color: var(--a-border-info);
}

.statusTagOrange {
  background-color: var(--a-surface-warning-subtle);
  border-color: var(--a-border-warning);

}

.statusTagHvit {
  background-color: white;
  border-color: $navGra80;
}

.statusTagBlaSmall {
  white-space: nowrap;
  min-width: fit-content;

  @media (min-width: 800px) and (max-width: 1350px) {
      min-width: 70px;
      max-width: 70px;
      white-space: normal;
  }
}

.statusTagOrangeSmall {
  min-width: fit-content;

  @media (min-width: 800px) and (max-width: 1350px) {
      white-space: nowrap;
  }
}
