@import '/src/colors.scss';

.statusTagBla {
  background-color: var(--navds-tag-color-info-background);
  border-color: var(--navds-tag-color-info-border);
}

.statusTagOrange {
  background-color: var(--navds-tag-color-warning-background);
  border-color: var(--navds-tag-color-warning-border);
}

.statusTagHvit {
  background-color: white;
  border-color: $navGra80;
}