.rad {
  display: flex;
  flex-direction: row;
}

.panel {
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}

.innhold {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.tiltaksinfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media(min-width: 600px) {
    flex-direction: row;
  }

  span {
    margin-right: 1rem;
  }
}


.tiltaknavn {
  margin-right: 1rem;
}

.alleredeLagtTilAlert {
  height: 2rem;

  svg {
    margin: auto 0;
  }
}

.knapp {
  min-width: fit-content;
  span {
    display: flex;
    align-items: center;
    gap: 0.33rem;
  }
}

.nonBreaking {
  white-space: nowrap;
}
