.page {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  margin-top: 1rem;
  margin-bottom: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.brodtekst {
  margin-top: 0;
  margin-bottom: 2rem !important;
}

.contentCard {
  margin-top: 2rem;
  padding: 2rem;
  width: 100%;
  max-width: 650px;
}

.infoElement {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.infoElementImg {
  height: 50px;
  width: 40px;
  margin-top: 0.75rem;
  margin-right: 2rem;
}

.infoElementTitle {
  margin-top: 0;
  margin-bottom: 0 !important;
}

.infoElementText {
  margin-top: 0;
  margin-bottom: 0;
}
