.ikon {
  height: 22px;
  width: 22px;
}

.oppfyllerIkkeKraveneIkon {
  color: var(--ax-text-danger-decoration);
  transform: rotate(45deg);
  @extend .ikon;
}

.oppfyllerKraveneIkon {
  color: var(--ax-text-success-decoration);
  @extend .ikon;
}

.knapp{
  place-self: flex-start;
  width: fit-content;
  height: fit-content;
}

.dropdownWrapper {
  width: fit-content;
}

.dropdown {
  li {
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    padding-right: 0.5rem;
  }
}
