/*.endringsmeldinger {
  width: fit-content;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
}

@media (min-width: 600px) {
  .endringsmeldinger {
    grid-template-columns: fit-content 1fr;
  }
}*/
