.list{
  list-style: none;

  margin: 0.5rem;
  padding: 0;

  li{
    margin: 0;
    padding: 0;
  }
    >li:not(:last-child) {
      margin-bottom: 1rem;
    }
}

.meldinger {
  margin-top: 0.25rem;;
}

.panel {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.melidngInfo{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.statusInfo{
  font-size: 14px;
  line-height: 25px;
}

.sendt{
  align-self: flex-start;
}