$navBla: var(--ax-accent-600);

$interactionPrimary: var(--ax-bg-accent-strong);
$navMorkGra: var(--ax-neutral-1000);
$navGra80: var(--ax-neutral-900);
$navGra60: var(--ax-neutral-700);
$navGra30: var(--ax-neutral-400);
$navLysGra: var(--ax-neutral-200);
$textMuted: var(--ax-text-neutral-subtle) // TODO sjekk farger