$navBla: var(--ax-text-accent-subtle);
$navWhiteDefault: var(--ax-bg-default);
$navWhiteRaised: var(--ax-bg-raised);

$interactionPrimary: var(--ax-bg-accent-strong);
$navMorkGra: var(--ax-neutral-1000);
$navGra80: var(--ax-neutral-900);
$navGra60: var(--ax-neutral-700);
$navGra30: var(--ax-neutral-400);
$navLysGra: var(--ax-bg-neutral-soft);
$textMuted: var(--ax-text-neutral-subtle) // TODO sjekk farger