$navBla: var(--a-blue-500);

$interactionPrimary: var(--a-surface-action);
$navMorkGra: var(--a-gray-900);
$navGra80: var(--a-gray-800);
$navGra60: var(--a-gray-600);
$navGra30: var(--a-gray-300);
$navLysGra: var(--a-gray-100);
$textMuted: var(--a-text-subtle)