
$max-bredde: 1440px;

.whiteBackground {
	background-color: white;
}

.blokkNull {
	margin-bottom: 0;
}

.blokkXxxs {
	margin-bottom: 4px;
}

.blokkXxs {
	margin-bottom: 0.5rem;
}

.blokkXs {
	margin-bottom: 1rem;
}

.blokkS {
	margin-bottom: 20px;
}

.blokkM {
	margin-bottom: 2rem;
}

.blokkL {
	margin-bottom: 2.5rem;
}

.blokkXl {
	margin-bottom: 4rem;
}
