// @import '@navikt/ds-css/dist/index.css';
@import 'tailwindcss/base';
@import 'src/colors';
@import '@navikt/ds-css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
	background-color: $navLysGra;
}

button {
	font-family: var(--a-font-family);
}

// V Gjør at applikasjonen fyller plassen til hele skjermen slik at NAV-dekoratør footeren alltid ligger i bånn V

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow-y: auto !important;
	overflow-x: visible !important;
}

.app {
	flex-grow: 1;
}
