@import '/src/globals.module.scss';

.gjennomforingDetaljer {
	padding: 2rem;
	display: flex;
	gap: 2rem;
	max-width: $max-bredde;
	margin: 0 auto;
	flex-wrap: wrap;
}

.textXs {
	font-size: 0.875rem;
}

.tilbakelenke {
	@extend .blokkM;
}

.statusAlert {
	margin: 1.5rem 0;
}
