@import '/src/globals.module.scss';

.koordinatorList {
  margin-block: 0;
  padding-inline: 0;

  > :not(:last-child) {
    margin-bottom: 0.25rem;
  }
}

.koordinator {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  list-style-type: none;
  font-size: var(--a-font-size-medium);
  font-weight: var(--a-font-weight-regular);
  line-height: var(--a-font-line-height-large);
}
