.datofelt {
  max-width: fit-content;
  margin-bottom: 1rem;

  label {
    font-size: var(--a-font-size-large);
    font-weight: var(--a-font-weight-bold);
    line-height: var(--a-font-line-height-large);
  }
}

.content>* {
  margin-bottom: 1rem;
}

.fit-content {
  min-width: 300px;
}

@media (min-width: 600px) {
  .modal {
    min-width: 550px;
  }
}
