.prosentDeltakselseTextField {
  width: 100%;
  margin-bottom: 1.5rem !important;

  input {
    display: block;
    max-width: 70px;
  }
}

.datofelt {
  margin-bottom: 1rem;
  label {
    font-size: var(--a-font-size-large);
    font-weight: var(--a-font-weight-bold);
    line-height: var(--a-font-line-height-large);
  }
  input {
    max-width: fit-content;
  }
}
