name: Cypress cache
on:
  push:
    branches:
      - main

jobs:
  cypress-cache:
    name: Cypress cache
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 10.24.0
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'pnpm'
          registry-url: 'https://npm.pkg.github.com'
      - name: Cypress binary cache
        uses: actions/cache@v4
        id: cypress-cache
        with:
          path: ~/.cache/Cypress
          key: cypress-${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}
      - name: Install cypress binary
        if: steps.cypress-cache.outputs.cache-hit != 'true'
        run: pnpm install --frozen-lockfile && pnpm exec cypress install
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
