name: Cypress test
on:
  pull_request:
    branches:
      - main
env:
  CI: true
  TZ: Europe/Amsterdam

jobs:
  cypress:
    name: Cypress test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 10.28.0
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'pnpm'
          registry-url: 'https://npm.pkg.github.com'
      - name: Cypress binary cache
        uses: actions/cache@v5
        id: cypress-cache
        with:
          path: ~/.cache/Cypress
          key: cypress-${{ runner.os }}-${{ hashFiles('pnpm-lock.yaml') }}
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: Install cypress binary
        if: steps.cypress-cache.outputs.cache-hit != 'true'
        run: pnpm exec cypress install
      - name: Check if PR is not created by Dependabot
        run: echo "IS_NOT_DEPENDABOT=${{ github.event.pull_request.user.login != 'dependabot[bot]' }}" >> $GITHUB_ENV
      - name: Run tests
        uses: cypress-io/github-action@v7
        with:
          browser: chrome
          start: pnpm start
          wait-on: sleep 5
          record: ${{ env.IS_NOT_DEPENDABOT }}
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
